

<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card class="mat-elevation-z8">
      <app-machine-form formControlName="machine"></app-machine-form>
      <button mat-raised-button type="submit">Submit</button>
      <button mat-raised-button type="button" (click)="setValue()">Set Value</button>
    </mat-card>
  </form>
  <section>
    <h2>Machine form value:</h2>
    <pre>
      <p>{{form.value | json}}</p>
    </pre>
    <h3>Form validity: {{form.status}}</h3>
  </section>
</div>